{% extends "base.html" %}

{% block content %}
    <h1>proompt</h1>

    <div id="proompt_parent">
        <form id="prompt">
            <input
                id="prompt-input"
                placeholder="enter your prompt here..."
                required type="text"
                name="prompt">
            <input
                type="number"
                min="10"
                max="500"
                value="100"
                name="sample_len">

            <button
                class="btn"
                hx-post="/complete-form"
                hx-trigger="click"
                hx-target="#response"
                hx-swap="innerHTML"
                hx-indicator="#loading-response">
                go
            </button>
        </form>

        <div id="response" hx-swap="innerHTML">
            <img
                id="loading-response"
                class="htmx-indicator"
                height=100px,
                width=100px,
                alt="loading",
                src="https://c.tenor.com/VOdWjm2zbEAAAAAC/tenor.gif"></img>
        </div>
    </div>

{% endblock content %}
